.compliance__bkg {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;

  &::after {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content:'';
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.compliance__info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  z-index: 9999;
  padding: 30px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);

  li {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 10px;
  }

  .compliance__info--text {
    span, b {
      font-size: 1.5rem;
    }
  }

  .compliance__info--buttons {
    text-align: center;
    Button {
      margin: 15px 10px 5px 10px;
    }
  }
}
