.info-modal {
  &__background {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    &::after {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content:'';
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    z-index: 9999;
    padding: 30px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  }

  &__action {
    text-align: center;
    Button {
      margin: 15px 10px 5px 10px;
    }
  }
}
