.account {
  height: 107px;

  .account__name {
    position: relative;
    float: left;
    background-color: #FFBD55;
    text-align: center;
    border-radius: 50%;
    width: 101px;
    height: 101px;
    margin-top: 3px;
    margin-right: 20px;
    .account__name__text {
      position: relative;
      margin-top: 50%;
      transform: translate(0, -50%);
      color: white;
      font-family: sans-serif;
      font-size: 4rem;
    }
  }

  .account__description {
    float: left;
    clear: right;
    .account__description__text {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
  }

  .account__usp {
    float: left;
    img {
      float: left;
      padding-right: 3px;
    }
    .account__usp__text {
      font-size: 1.2rem;
      float: left;
      margin-right: 10px;
    }
  }
}
