@import '../../variables';


.account-picker__body {
  background: $nordnet-brightest-clr;
  height: 10rem;
  > div {
    height: inherit;
  }

  > div:first-child {
    overflow: hidden; // hide first column on squeezed windows
  }

  .account-logo {
    height: 18rem;
    width: 18rem;
    line-height: 18rem;
    border-radius: 50%;
    position: relative;
    margin-left: 1rem;
    background: $nordnet-warning-clr;
    color: $nordnet-brightest-clr;
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
  }

  .account-usp {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__header {
      font-size: 1.4rem;
      padding-bottom: 1rem;
    }

    &__item {
      display: inline-block;
      font-size: 1rem;
      margin-right: 1rem;
    }
  }
}
