$primary-dark: #444;
$primary-light: #fff;
$primary-face: #00A8EF;

$secondary-hot: #ff685b;
$secondary-warm: #ffdd22;
$secondary-warm__fade: rgba(255, 221, 34, 0.9);

$secondary-blunt: #d4d1cb;

$shadow-dark: #aaa;
$shadow-middle: #ddd;
$shadow-light: #f2f2f2;

.modal {
  &--shadow {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $primary-dark;
    z-index: 5;
    opacity: 0.7;
  }

  &--content {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    background: $primary-light;
    color: $primary-dark;
    padding: 10px;
    z-index: 6;
    box-shadow: 2px 3px 5px $shadow-dark;
    border-radius: 3px;
    width: 550px;
    height: 285px;
    position: relative;
  }

  .header {
    padding: 10px;
    font-weight: bold;
  }

  .body {
    padding: 10px;
  }

  .text {
    padding: 5px;
  }
  
  .form {

    .error {
      border: 3px solid $secondary-hot;
    }

    label {
      background: $primary-face;
      color: $primary-light;
      width: 40%;
      display: inline-block;
      box-sizing: border-box;
      padding: 3px;
      border: 3px;
      margin-right: 1em;
    }

    input {
      width: 55%;
      display: inline-block;
      padding: 3px;
      background: $shadow-light;
      box-sizing: border-box;
      margin-bottom: 1em;
    }
  }

  .processing {
    background: $secondary-warm__fade;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
    z-index: 1;
    line-height: 4em;
    border-radius: 50%;
  }

  .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 40px 20px 0;

    .button {
      font-weight: bold;
      padding: 10px;
      text-decoration: none;
      display: inline-block;
      margin: 5px;
      border: 1px solid $shadow-dark;

    }

    &--action {
      color: $primary-light;
      background: $primary-face;

      &:hover {
        color: $primary-face;
        background-color: $primary-light;
      }
    }

    &--cancel {
      color: $primary-face;
      background: $secondary-blunt;

      &:hover {
        color: $secondary-blunt;
        background-color: $primary-face;
      }
    }
  }
}
