@import '../../variables';


.sign {

  &__header {
    padding: 2rem 0;
  }


  &__action {
    padding: 2rem 0;
    text-align: center;

    button {
      padding-left: 7rem;
      padding-right: 7rem;
    }
  }

  .list-box__bullet {
    background-color: $nordnet-warning-clr;
  }
}

.terms-and-conditions {
  background: $nordnet-brightest-clr;
  padding: 2rem 0;
  text-align: center;

  &__fetcher {
    margin-bottom: .2rem;
    margin-top: 2rem;
    background-repeat: no-repeat;
    background-position-x: .2rem;
    padding-left: 4rem;
    padding-right: 2rem;
  }

  &__agreements-and-conditions-info {
    color: $nordnet-dark-clr;
  }

  &__accept {
    .checkbox__label {
      width: 80%;
      text-align: left;
    }
  }

}
