h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

.compliance {
  &__redirect-info {
    li {
      font-size: 1.4rem;
      font-style: italic;
      margin-bottom: 10px;
    }

    &__text {
      span, b {
        font-size: 1.5rem;
      }
    }
  }
}

.input select {
  height: 45px;
}

.checkbox__question {
  margin-left: 0;
}

.checkbox__row {
  margin-left: 0;
  .checkbox {
    width: 50%;
    .checkbox__label {
      vertical-align: middle;
      transform: translate(0, -50%);
    }
  }
}

.checkbox__confirm {
  margin-left: 5px;
  margin-top: 20px;
  .checkbox__label {
    margin-left: 24px;
    vertical-align: middle;
    transform: translate(0, -100%);
  }
}


.compliance__buttons {
  margin-top: 20px;
  .compliance__button_continue {
    margin-left: 20px;
  }
  .compliance__submit {
    margin-right: 20px;
  }
}
