body {
  background-color: #ECEBEB;
}

.category__title {
  font-family: ValueNordnet-Bold, sans-serif;
  font-size: 18px;
  line-height: 1;
}

.category__description {
  font-family: ValueNordnet-Bold, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

.identify,
.prospect-info__component,
.account__component,
.compliance__component,
.sign__component {
  background-color: #FFFFFF;
  padding: 4em;
}

.customer-registration {
  .registration-section {
    padding: 4em;
  }
}
