@import '../../variables';

.identify,
.prospect-info__component,
.account__component,
.compliance__component,
.sign__component {
  background-color: $nordnet-brightest-clr;
  padding: 4em;
}

.sign__page {
  padding-bottom: 457px;
}

.customer-registration {
  .registration-section {
    padding: 1em;
  }
}
