@import 'variables';

html, body {
  font: $font-alternative;
  font-size: 62.5%;
  margin: 0;
  min-height: 100%;
  background-color: $color-common;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  clear: both;
  text-align: left;
  color: $color-header;
  font-size: $size-primary-header;
}
h1 + p {
  color: $color-text;
  font-size: $size-main-preamble;
}

h2 {
  color: $color-header;
  margin: 0px 0px 1rem 0px;
  padding: 1rem 0 0 0;
  font-size: $size-secondary-header;
}
h2 + p {
  color: $color-text;
  font-size: $size-common;
}
h3 {
  color: $color-header;
  margin: 0px 0px 1rem 0px;
  padding: 1rem 0 0 0;
  font-size: $size-alternative-header;
}

p {
  font-size: $size-common;
}
a {
  color: $color-common;
  text-decoration: none;
}
