$nordnet-default-clr: #00a9ec;
$nordnet-alt-default-clr: #0096DC;
$nordnet-dark-default-clr: #365299;
$nordnet-darkest-clr: #222222;

$nordnet-brightest-clr: #ffffff;
$nordnet-bright-clr: #ECEBEB;
$nordnet-dark-bright-clr: #C5C5C5;
$nordnet-dark-clr: #969696;
$nordnet-darkest-clr: #222222;

$nordnet-success-clr: #00BD76;
$nordnet-warning-clr: #FFBD55;
$nordnet-danger-clr: #EF472F;
$nordnet-disabled-clr: #C5C5C5;

$nordnet-normal-font-size: 12px;

$nordnet-default-font-family: "Value Nordnet", "Century Gothic", sans-serif;

*, body {
  font-size: $nordnet-normal-font-size;
  font-family: $nordnet-default-font-family;
}
