$font-primary: 'Verdana', sans-serif;
$font-alternative: ValueNordnet-Bold, ValueSans, sans-serif;
$nordnet-default-font-family: "Value Nordnet", "Century Gothic", sans-serif;
$nordnet-normal-font-size: 12px;

/* naming conventions!
  We should name it for what it is, not what it looks like. Avoid large, red, bigger e.t.c.
  For the eaze of reading and shorten classnames, we shouldnt name them anything with $nordnet..!?
*/
$nordnet-default-clr: #00a9ec;
$nordnet-alt-default-clr: #0096DC;
$nordnet-dark-default-clr: #365299;
$nordnet-darkest-clr: #222222;

$nordnet-brightest-clr: #ffffff;
$nordnet-bright-clr: #ECEBEB;
$nordnet-dark-bright-clr: #C5C5C5;
$nordnet-dark-clr: #969696;
$nordnet-darkest-clr: #222222;

$nordnet-success-clr: #00BD76;
$nordnet-warning-clr: #FFBD55;
$nordnet-danger-clr: #EF472F;
$nordnet-disabled-clr: #C5C5C5;

/* naming conventions */
$color-header: #222222;
$color-text: #222222;
$color-text-muted: #969696;
$color-success: #41D22D;
$color-warning: #FF685B;
$color-danger: #FF685B;

$color-base: #FFF;
$color-border: #DDD;
$color-common: #00A9EC;
$color-body-background: #82BBDC;

$size-primary-header: 2rem;
$size-secondary-header: 1.5rem;
$size-common: 1.2rem;
$size-main-preamble: 1.5rem;
$size-alternative-header: 1.2rem;
